{{ define "header" }}
    <link rel="stylesheet" href="{{ "/css/layouts/list.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/navigators/sidebar.css" | relURL}}">
{{ end }}

{{ define "navbar" }}
    {{ partial "navigators/navbar-2.html" . }}
{{ end }}

{{ define "sidebar" }}
  {{ $blogHome:="#" }}
  {{ if site.IsMultiLingual }}
    {{ $blogHome = (path.Join (cond ( eq .Language.Lang "en") "" .Language.Lang) .Type) }}
  {{ end }}

  <section class="sidebar-section" id="sidebar-section">
    <div class="sidebar-holder">
      <div class="sidebar" id="sidebar">
        <input type="text" value="" placeholder="Search" data-search="" id="search-box" />
        <div class="sidebar-tree">
          <ul class="tree" id="tree">
            <li id="list-heading"><a href="{{ .Type | relLangURL }}" data-filter="all">{{ i18n .Type }}</a></li>
            <div class="subtree">
                {{ partial "navigators/sidebar.html" (dict "menus" site.Menus.socle "ctx" .) }}
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}

{{ define "content" }}
<section class="content-section" id="content-section">
  <div class="content container-fluid" id="content">
    <div class="container-fluid post-card-holder" id="post-card-holder">
      {{ $paginator := .Paginate .RegularPagesRecursive 12 }}
      {{ range $paginator.Pages }}
        {{ partial "cards/post.html" . }}
      {{ end }}
    </div>
    <div class="paginator">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
    <script src="{{ "/js/list.js" | relURL }}"></script>
{{ end }}
