<div class="post-card">
  <a href="{{ .Permalink | relLangURL }}" class="post-card-link">
    <div class="card">
      <div class="card-head">
        <img class="card-img-top" src='{{ partial "helpers/get-hero.html" . }}'/>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
      </div>
      <div class="card-footer">
        <span class="float-left">{{ .Date.Format "January 2, 2006" }}</span>
        <a
        href="{{ .Permalink | relLangURL }}"
        class="float-right btn btn-outline-info btn-sm"
        >Read</a
        >
      </div>
    </div>
  </a>
</div>
