<div class="col-10 col-lg-8">
    <div class="experience-entry-heading">
        <!-- For single position, give emphasis on the designation-->
        <h5>{{ if .company.url }}<a href={{.company.url}}>{{ .company.name }}</a>{{ else }}{{ .company.name }}{{ end }}</h5>
        <!-- Add experience duration info -->
    </div>
    <!-- Add company overview -->
    <p>{{ .company.overview | markdownify }}</p>
    <!-- Add the responsibilities handled at this position -->
</div>
