
code {
  font-family: 'Roboto Mono', monospace;
}
pre, code {
  font-size: .85em;
}

h1, h2, h3 {
  color:#006699;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-block-start: 15px;
}

h2{
  border-bottom: 2pt solid #C32900;
}
.inverse h2{
  border-bottom: 0pt solid #C32900;
}

code {
  hyphens: none;
  color: #C32900;
}

pre > code {
  hyphens: none;
  color: #666666;
}

.marker-writting > * {
  font-family: 'Permanent Marker', cursive;
}


.inverse {
  background-color: #006699;
  color: white;
  text-shadow: 0px 0 black;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: white;
  text-shadow: 0px 0 black;
}
.inverse code {
  color: #e0e0e0;
}

.inverse:after {
  content: " ";
  text-align:left;
  color: #EEE;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 28px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 75px 28px;
  background-image: url('./ardata-logo-inv.svg');

  opacity:0.75;
}

img {
    max-width: 100%;
}

.col-xs-6 > pre > .remark-code{
  font-size: 16px;
}
.col-xs-6 > pre > .hljs{
  font-size: 14px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.smaller{
  font-size: .65em;
}

h6 {
  font-style: italic;
}