{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 accomplishments-section">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}
  
  <div class="container">
    <div class="row" id="acomplishment-card-holder" style="max-height: 500px;overflow-y: auto;">
      {{ range .accomplishments }}
        {{ partial "cards/accomplishments" . }}
      {{ end }}
    </div>
  </div>
</div>