.accomplishments-section h1 > span{
  margin-top: -55px;  /* Size of fixed header */
  padding-bottom:55px; 
  display: block; 
}

.accomplishments-section .card {
  background: #fff;
  border-top: 2px solid #248aaa;
}
.accomplishments-section .card .card-header {
  background: none;
  border: none;
}

.accomplishments-section .card .card-header .sub-title {
  color: #8392a5;
  margin-top: 0.4rem;
}

.accomplishments-section .card .sub-title :nth-child(2) {
  float: none !important;
}

.accomplishments-section .card .card-body {
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.accomplishments-section .card .card-footer {
  background: #fff;
  border: none;
  padding: 0;
  padding-left: 0.7rem;
  padding-bottom: 0.3rem;
}

/* ============= Device specific fixes ======= */

/* Large screens such as TV */
@media only screen and (min-width: 1824px) {
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/* IPad Pro */
@media (max-width: 1024px) {
  .accomplishments-section {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .accomplishments-section .container {
    max-width: 100%;
  }
  .accomplishments-section {
    padding: 0;
  }
  .accomplishments-section {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {

}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
  .accomplishments-section {
    flex: 100%;
    max-width: 100%;
    margin-top: 2rem;
  }
}

/* iPhoneX, iPhone 6,7,8 */
@media only screen and (max-width: 375px) {
}

/* Galaxy S5, Moto G4 */
@media only screen and (max-width: 360px) {
}

/* iPhone 5 or before */
@media only screen and (max-width: 320px) {
}

#acomplishment-card-holder {
  max-height: 500px;
  overflow-y: auto;
}